@model RoundTheCorner.MVCUI.Models.ViewModels.MenuSectionMenuItems
@{
    ViewData["Title"] = "Details";
}

    <div class="row">
        <div class="col-md-3 card card-body">
            @Html.ActionLink("Back To Map", "Index", "Home")
            <h1>@Model.VendorModel.CompanyName Menu</h1>
            <p>
                @Model.VendorModel.Bio
            </p>
            <p>
                <a href="@Model.VendorModel.Website">@Model.VendorModel.Website</a>
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8 card card-body">
            @using (Html.BeginForm())
            {
                @Html.Hidden("VendorModel.VendorID", @Model.VendorModel.VendorID)

                foreach (RoundTheCorner.BL.Models.MenuSectionModel s in Model.MenuSections)
                {
                        <h4>@s.MenuSectionName</h4>
                        <table class=" table table-sm table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (RoundTheCorner.BL.Models.MenuItemModel item in Model.MenuItems)
                                {
                                    if (item.MenuSectionID == s.MenuSectionID)
                                    {
                                        <tr>
                                            <td>@item.ItemName</td>
                                            <td>@item.Description</td>
                                            <td>@item.Price.ToString("c")</td>

                                            <td>
                                                @*Present to the user first time around but are we pulling something before the user picks anything?*@
                                                @*@Html.TextBox("OrderItems.Quantity", "", new { htmlAttributes = new { @class = "form-control" } })*@
                                                @*@Html.EditorFor(model => model.OrderItems.FirstOrDefault(m => m.MenuItemID == item.ItemID).Quantity, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ActionLink("Add To Cart", "AddToCart", "ShoppingCart", new { ID = item.ItemID, quantity = 1, returnurl = HttpContext.Current.Request.Url }, null)
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                }


            <button type="submit" class="btn btn-primary">Place Order</button>
            }
            @{ 
                Html.RenderAction("CartDisplay", "ShoppingCart");
            }
        </div>
    </div>